<a href="https://colab.research.google.com/github/et20024/sp-github/blob/main/PANDAS_uvod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kako importujemo pandas biblioteku:

In [ ]:
import numpy as np
import pandas as pd

Kako da prikažemo podatke iz fajla:

In [ ]:
df = pd.read_csv("Report_water_Zeta_okt2021.csv")

Da prikažemo sam pet prvih vrsta  i vidimo kako će tabela zapravo izgledati:

In [ ]:
df.head()

,Device,Time,Temperature,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
0,Danilovgrad (Zeta),10/01/2021 00:05,17.6,8.0,0.1,19.3,260.4
1,Danilovgrad (Zeta),10/01/2021 00:15,17.6,8.0,0.1,19.3,260.4
2,Danilovgrad (Zeta),10/01/2021 00:25,17.6,8.0,0.1,19.3,260.5
3,Danilovgrad (Zeta),10/01/2021 00:35,17.6,8.0,0.1,19.3,260.4
4,Danilovgrad (Zeta),10/01/2021 00:44,17.6,8.0,0.1,19.3,260.5

In [ ]:
df.head(7)

,Device,Time,Temperature,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
0,Danilovgrad (Zeta),10/01/2021 00:05,17.6,8.0,0.1,19.3,260.4
1,Danilovgrad (Zeta),10/01/2021 00:15,17.6,8.0,0.1,19.3,260.4
2,Danilovgrad (Zeta),10/01/2021 00:25,17.6,8.0,0.1,19.3,260.5
3,Danilovgrad (Zeta),10/01/2021 00:35,17.6,8.0,0.1,19.3,260.4
4,Danilovgrad (Zeta),10/01/2021 00:44,17.6,8.0,0.1,19.3,260.5
5,Danilovgrad (Zeta),10/01/2021 00:54,17.6,8.0,0.1,19.3,260.6
6,Danilovgrad (Zeta),10/01/2021 01:04,17.6,8.0,0.1,19.3,260.8

In [ ]:
# kada želimo da izbacimo suvišne podatke df.drop()
#npr. df = df.drop(columns=['Unnamed: 0'])

In [ ]:
len(df)
#ovdje treba uočiti da nam funkcija sama izbaci prvu vrstu u kojoj su navedeni nazivi kolona

4552

In [ ]:
df.select_dtypes(include='int64')
# izbacujemo podatke željenog tipa, uočavamo da je 0 kolona zato što posmatrani Excel file u svakoj koloni sadrži float tip ili datum, osim u prvoj

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4552 rows x 0 columns]

Primjer: kada želimo da dodamo kolonu. Možemo dodati random brojeve, onoliko koliko posmatrana tabela ima vrsta

In [ ]:
random_col = np.random.randint(100, size=len(df))
df.insert(3, 'random_column', random_col)

Nakon dodate vrste, ponovo pogledamo kako izgleda naša tabela

In [ ]:
df.head()

,Device,Time,Temperature,random_column,random_col,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
0,Danilovgrad (Zeta),10/01/2021 00:05,17.6,92,96,8.0,0.1,19.3,260.4
1,Danilovgrad (Zeta),10/01/2021 00:15,17.6,95,27,8.0,0.1,19.3,260.4
2,Danilovgrad (Zeta),10/01/2021 00:25,17.6,94,36,8.0,0.1,19.3,260.5
3,Danilovgrad (Zeta),10/01/2021 00:35,17.6,58,73,8.0,0.1,19.3,260.4
4,Danilovgrad (Zeta),10/01/2021 00:44,17.6,56,86,8.0,0.1,19.3,260.5

Kada je veličina skupa koji posmatramo prevelika možemo uzeti reprezentativni uzorak i iz njega vršiti modeliranje i anlizu.Često previše podataka može pokvariti vizuelizaciju.

In [ ]:
df.sample(n = 200)

,Device,Time,Temperature,random_column,random_col,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
2598,Danilovgrad (Zeta),18.10.2021 16:40:32,13.7,35,47,7.0,0.0,19.3,253.2
3508,Danilovgrad (Zeta),24.10.2021 21:12:01,14.2,66,90,6.9,0.1,19.3,259.9
1741,Danilovgrad (Zeta),10/12/2021 20:41,15.2,0,24,7.2,0.0,19.3,256.3
4042,Danilovgrad (Zeta),28.10.2021 13:16:43,13.1,40,12,7.0,0.1,19.3,255.1
667,Danilovgrad (Zeta),10/05/2021 13:19,17.1,41,24,7.4,0.1,19.3,262.2
...,...,...,...,...,...,...,...,...,...
462,Danilovgrad (Zeta),10/04/2021 03:28,17.3,51,30,7.7,0.0,19.3,259.0
2927,Danilovgrad (Zeta),20.10.2021 22:23:06,14.0,34,2,7.1,0.0,19.3,256.9
4258,Danilovgrad (Zeta),30.10.2021 00:42:44,12.8,47,54,7.0,0.1,19.3,253.7
168,Danilovgrad (Zeta),10/02/2021 03:30,17.9,0,21,7.9,0.1,19.3,262.4
1345,Danilovgrad (Zeta),10/10/2021 04:00,16.5,51,90,7.2,0.0,19.3,253.5

U slučaju kada želimo da formiramo neke manje skupove sa određenim karakteristikama koje posjeduju elementi (iz tabele) to možemo uraditi pomoću sljedeće funkcije **.isin()**

Često je potrebno da radimo neke zamjene, evo na primjer kako da promijenimo konkretnu vrijednost tačno je navodeći i novu vrijednost koju proslijedimo takođe.

In [ ]:
df.replace(1.0, 1.1)

,Device,Time,Temperature,random_column,random_col,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
0,Danilovgrad (Zeta),10/01/2021 00:05,17.6,92.0,96.0,8.0,0.1,19.3,260.4
1,Danilovgrad (Zeta),10/01/2021 00:15,17.6,95.0,27.0,8.0,0.1,19.3,260.4
2,Danilovgrad (Zeta),10/01/2021 00:25,17.6,94.0,36.0,8.0,0.1,19.3,260.5
3,Danilovgrad (Zeta),10/01/2021 00:35,17.6,58.0,73.0,8.0,0.1,19.3,260.4
4,Danilovgrad (Zeta),10/01/2021 00:44,17.6,56.0,86.0,8.0,0.1,19.3,260.5
...,...,...,...,...,...,...,...,...,...
4547,Danilovgrad (Zeta),31.10.2021 23:17:25,12.8,73.0,32.0,7.0,0.1,19.3,254.2
4548,Danilovgrad (Zeta),31.10.2021 23:27:13,12.8,72.0,18.0,6.9,0.1,19.3,254.4
4549,Danilovgrad (Zeta),31.10.2021 23:36:59,12.8,41.0,89.0,7.0,0.1,19.3,254.2
4550,Danilovgrad (Zeta),31.10.2021 23:46:46,12.8,11.0,62.0,7.0,0.1,19.3,254.4
4551,Danilovgrad (Zeta),31.10.2021 23:56:33,12.8,41.0,88.0,7.0,0.1,19.3,254.3

Nekada želimo da mijenjamo i imena samih kolona,a to radimo na sljedeći način:

In [ ]:
df.rename(columns = {"Device": "Mjesto"})

,Mjesto,Time,Temperature,random_column,random_col,Water PH,Ox.-red. potential,Dissolved O2,EC temperature
0,Danilovgrad (Zeta),10/01/2021 00:05,17.6,92,96,8.0,0.1,19.3,260.4
1,Danilovgrad (Zeta),10/01/2021 00:15,17.6,95,27,8.0,0.1,19.3,260.4
2,Danilovgrad (Zeta),10/01/2021 00:25,17.6,94,36,8.0,0.1,19.3,260.5
3,Danilovgrad (Zeta),10/01/2021 00:35,17.6,58,73,8.0,0.1,19.3,260.4
4,Danilovgrad (Zeta),10/01/2021 00:44,17.6,56,86,8.0,0.1,19.3,260.5
...,...,...,...,...,...,...,...,...,...
4547,Danilovgrad (Zeta),31.10.2021 23:17:25,12.8,73,32,7.0,0.1,19.3,254.2
4548,Danilovgrad (Zeta),31.10.2021 23:27:13,12.8,72,18,6.9,0.1,19.3,254.4
4549,Danilovgrad (Zeta),31.10.2021 23:36:59,12.8,41,89,7.0,0.1,19.3,254.2
4550,Danilovgrad (Zeta),31.10.2021 23:46:46,12.8,11,62,7.0,0.1,19.3,254.4
4551,Danilovgrad (Zeta),31.10.2021 23:56:33,12.8,41,88,7.0,0.1,19.3,254.3

Često u obradi podataka veliki problem predstavljaju null proslijeđene vrijednosti, a na sljedeći način se lako može null zamijeniti sa vrijednostima koje mi odaberemo.

In [ ]:
df['Water PH'].fillna(0, inplace=True)